body {
    min-height: 1000px;
    background-size: 1000px 1000px;
    background: linear-gradient(15deg, white 0, white 50%, gray 50%) fixed;
}

#app {
    margin-top: 20px;
}

.container {
    width: 1000px;

    margin: 0 auto;
    padding: 20px 100px 20px;

    border-radius: 50px;
    border: 2px solid gray;
    box-shadow: 0 10px 10px -10px;

    background-color: white;
}

header {
    --height: 100px;
    height: var(--height);
    line-height: var(--height);

    font-size: 40px;
    font-family: Consolas, serif;
    font-weight: bolder;
    color: gray;
    text-align: right;
}

footer {
    --height: 100px;
    height: var(--height);
    line-height: var(--height);

    font-size: 40px;
    font-family: Consolas, serif;
    font-weight: bolder;
    color: gray;
    text-align: right;
}

button.router {
    width: 100px;
    height: 300px;
    position: fixed;
    bottom: 50%;
    right: 40px;
}
