.border-panel {
    box-shadow: grey 3px 3px;
    border-radius: 20px;
    border: 1px solid grey;

    padding: 20px;
    box-sizing: border-box;

    background-color: white;
    color: black;
    font-family: Consolas, "黑体", serif;
}

.border-panel .title {
    font-size: 20px;
    margin-bottom: 20px;
}

.panel-button {
    border: 1px solid grey;
    box-shadow: grey 1px 1px;
    box-sizing: border-box;
    border-radius: 14px;
    background-color: white;
    height: 28px;
}

.panel-button:hover {
    cursor: pointer;
    background-color: #eee;
    transition: background-color 0.2s;
}

.panel-button:active {
    transform: translate(1px, 1px);
    box-shadow: inset grey 1px 1px;
}

.panel-button.active {
    transform: translate(1px, 1px);
    box-shadow: inset grey 1px 1px;
}

.panel-input {
    border: 1px solid grey;
    box-shadow: grey 1px 1px;
    box-sizing: border-box;
    border-radius: 14px;

    height: 28px;
    line-height: 28px;

    font-size: 16px;
    padding: 0 20px;
}

.panel-input:focus {
    outline: none;
    transform: translate(1px, 1px);
    box-shadow: inset grey 1px 1px;
}
